body {
  font-family: sans-serif;
  width: 800px;
  margin: 0 auto;
  background-color: whitesmoke;
}

img {
  float: right;
  width: 200px;
}

#game-canvas {
  display: block;
  margin: 0 auto;
}

.clearfix::before,
.clearfix::after {
    content: " ";
    display: table;
}

.clearfix::after {
    clear: both;
}
