body {
  font-family: 'Allerta Stencil', sans-serif;
  color: white;
  width: 800px;
  margin: 0 auto;
  background: url(jungle.jpg) no-repeat center center fixed;
  background-size: cover;
}

header {
  background-color: rgba(0, 0, 0, 0.8);
  /*border: 3px solid #1E611E;*/
  padding: 20px;
  border-radius: 50px;
}

h1 {
  margin-left: 15px;
}

strong {
  color: red;
}

img {
  float: right;
  width: 200px;
  margin-top: 35px;
  margin-right: 65px;
  -webkit-filter: drop-shadow(0px 0px 50px red) hue-rotate(180deg) invert(1) saturate(6.9) sepia(0.6);
  border-radius: 70px;
}

.button-container {
  margin: 25px auto 15px auto;
  width: 610px
}

.button {
  width: 200px;
  height: 40px;
  background-color: transparent;
  color: red;
  font-size: 20px;
  border: 2px solid red;
  outline: none;
}

.button:hover {
  background-color: rgba(255, 0, 0, 0.1);
  color: rgba(255, 255, 255, 0.5);
}

.button:active {
  background-color: rgba(255, 0, 0, 0.5);
  color: white;
}

#game-canvas {
  display: block;
  margin: 20px auto;
  border-radius: 100px;
}

.clearfix::before,
.clearfix::after {
    content: " ";
    display: table;
}

.clearfix::after {
    clear: both;
}

